.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.message {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
}

body {
  background-color: rgb(40, 44, 52);
}

.record-button {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.record-button::before {
  content: "";
  position: absolute;
  width: 48px;
  height: 48px;
  background-color: rgb(172, 0, 0);
  border-radius: 50%;
}

.record-button::after {
  content: "";
  position: absolute;
  width: 35px;
  height: 35px;
  background-color: rgb(224, 4, 4);
  border-radius: 50%;

}

.stop-button {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: white;
}

.stop-button::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 40%;
  height: 40%;
  background-color: red;
}

.audioposition {
  position: absolute;
  top: 7%;
  left: 40%;
  width: 20%;
}

.file-input {
  margin-top: 115px;
  margin-bottom: 50px;
  margin-left: 150px;
}

audio.top {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}



